# Entrega Parcial
Primeira Entrega

1. Escolher uma API da lista disponível:

2. Fazer a extração de pelo menos 3 tabelas: 

3. Criar um alerta de erro usando a função alerta()

In [1]:
#importando bibliotecas
import pandas as pd
import requests

In [2]:
#importando biblioteca de notificação e suas definições definindo
from plyer import notification 
notification.notify(
                    title='Informar o título da notificação',
                    message='Descrição da mensagem de alerta',
                    app_name='Nome do Alerta',
                    timeout=10
                    ) #Utilizado valor 10 como sugerido na atividade slide 36, aula 4 - Fundamentos de programação III

In [3]:
#Criando Alerta com notification.notify definido anteriormente
#importar datetime
from datetime import datetime

#definição do Alerta
def Alerta_default(text1):
    vNow = str(datetime.now())
    text1 = "Falha ao acessar API"
    msg_texto = f"Erro! {text1} \nOcorrência: {vNow}"

    if text1 == 1:
        text1 = "Falha ao ler API"
    else:
        print("Erro desconhecido!",text1)

    notification.notify(
            title=text1,
            message=msg_texto,
            app_name='Alerta!',
            timeout=10
                        )

In [4]:
# Utilizando Get API para leitura dos dados e convertendo em Data Frame
#api_uf = "https://servicodados.ibge.gov.br/api/v1/localidades/estadov1" #utilizado para testar erro na chamada da API e exibição do alerta
api_uf = "https://servicodados.ibge.gov.br/api/v1/localidades/estados"
response = requests.get(api_uf)
if response.status_code == 200:
    uf_json = response.json()
else:
    #print("Erro ao acessar a API\nErro: {}".format(response.status_code))
    Alerta_default(1)

#converter dados em Data Frame
base_uf = pd.DataFrame(uf_json)

#exibir tabela base_uf
base_uf

,id,sigla,nome,regiao
0,11,RO,Rondônia,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
1,12,AC,Acre,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
2,13,AM,Amazonas,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
3,14,RR,Roraima,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
4,15,PA,Pará,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
5,16,AP,Amapá,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
6,17,TO,Tocantins,"{'id': 1, 'sigla': 'N', 'nome': 'Norte'}"
7,21,MA,Maranhão,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
8,22,PI,Piauí,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
9,23,CE,Ceará,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
10,24,RN,Rio Grande do Norte,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
11,25,PB,Paraíba,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
12,26,PE,Pernambuco,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
13,27,AL,Alagoas,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
14,28,SE,Sergipe,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
15,29,BA,Bahia,"{'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}"
16,31,MG,Minas Gerais,"{'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}"
17,32,ES,Espírito Santo,"{'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}"
18,33,RJ,Rio de Janeiro,"{'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}"
19,35,SP,São Paulo,"{'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}"
20,41,PR,Paraná,"{'id': 4, 'sigla': 'S', 'nome': 'Sul'}"
21,42,SC,Santa Catarina,"{'id': 4, 'sigla': 'S', 'nome': 'Sul'}"
22,43,RS,Rio Grande do Sul,"{'id': 4, 'sigla': 'S', 'nome': 'Sul'}"
23,50,MS,Mato Grosso do Sul,"{'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}"
24,51,MT,Mato Grosso,"{'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}"
25,52,GO,Goiás,"{'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}"
26,53,DF,Distrito Federal,"{'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}"

In [5]:
# Utilizando Get API para leitura dos dados e convertendo em Data Frame
#api_municipios = "https://servicodados.ibge.gov.br/api/v1/localidades/municipiov1" #utilizado para testar erro na chamada da API e exibição do alerta
api_municipios = "https://servicodados.ibge.gov.br/api/v1/localidades/municipios"
response = requests.get(api_municipios)
if response.status_code == 200:
    municipios_json = response.json()
else:
    #print("Erro ao acessar a API\nErro: {}".format(response.status_code))
    Alerta_default(1)

#converter dados em Data Frame
base_municipios = pd.DataFrame(municipios_json)

#exibir tabela base_uf
base_municipios

,id,nome,microrregiao,regiao-imediata
0,1100015,Alta Floresta D'Oeste,"{'id': 11006, 'nome': 'Cacoal', 'mesorregiao':...","{'id': 110005, 'nome': 'Cacoal', 'regiao-inter..."
1,1100023,Ariquemes,"{'id': 11003, 'nome': 'Ariquemes', 'mesorregia...","{'id': 110002, 'nome': 'Ariquemes', 'regiao-in..."
2,1100031,Cabixi,"{'id': 11008, 'nome': 'Colorado do Oeste', 'me...","{'id': 110006, 'nome': 'Vilhena', 'regiao-inte..."
3,1100049,Cacoal,"{'id': 11006, 'nome': 'Cacoal', 'mesorregiao':...","{'id': 110005, 'nome': 'Cacoal', 'regiao-inter..."
4,1100056,Cerejeiras,"{'id': 11008, 'nome': 'Colorado do Oeste', 'me...","{'id': 110006, 'nome': 'Vilhena', 'regiao-inte..."
...,...,...,...,...
5565,5222005,Vianópolis,"{'id': 52016, 'nome': 'Pires do Rio', 'mesorre...","{'id': 520002, 'nome': 'Anápolis', 'regiao-int..."
5566,5222054,Vicentinópolis,"{'id': 52015, 'nome': 'Meia Ponte', 'mesorregi...","{'id': 520009, 'nome': 'Piracanjuba', 'regiao-..."
5567,5222203,Vila Boa,"{'id': 52012, 'nome': 'Entorno de Brasília', '...","{'id': 520022, 'nome': 'Flores de Goiás', 'reg..."
5568,5222302,Vila Propício,"{'id': 52012, 'nome': 'Entorno de Brasília', '...","{'id': 520018, 'nome': 'Ceres - Rialma - Goian..."
5569,5300108,Brasília,"{'id': 53001, 'nome': 'Brasília', 'mesorregiao...","{'id': 530001, 'nome': 'Distrito Federal', 're..."

In [6]:
# Utilizando Get API para leitura dos dados e convertendo em Data Frame
#api_paises = "https://servicodados.ibge.gov.br/api/v1/localidades/paisev1" #utilizado para testar erro na chamada da API e exibição do alerta
api_paises = "https://servicodados.ibge.gov.br/api/v1/localidades/paises"
response = requests.get(api_paises)
if response.status_code == 200:
    paises_json = response.json()
else:
    #print("Erro ao acessar a API\nErro: {}".format(response.status_code))
    Alerta_default(1)

#converter dados em Data Frame
base_paises = pd.DataFrame(paises_json)

#exibir tabela base_uf
base_paises

,id,nome,regiao-intermediaria,sub-regiao
0,"{'M49': 4, 'ISO-ALPHA-2': 'AF', 'ISO-ALPHA-3':...",Afeganistão,None,"{'id': {'M49': 34}, 'nome': 'Ásia meridional (..."
1,"{'M49': 8, 'ISO-ALPHA-2': 'AL', 'ISO-ALPHA-3':...",Albânia,None,"{'id': {'M49': 39}, 'nome': 'Europa meridional..."
2,"{'M49': 12, 'ISO-ALPHA-2': 'DZ', 'ISO-ALPHA-3'...",Argélia,None,"{'id': {'M49': 15}, 'nome': 'África setentrion..."
3,"{'M49': 20, 'ISO-ALPHA-2': 'AD', 'ISO-ALPHA-3'...",Andorra,None,"{'id': {'M49': 39}, 'nome': 'Europa meridional..."
4,"{'M49': 24, 'ISO-ALPHA-2': 'AO', 'ISO-ALPHA-3'...",Angola,"{'id': {'M49': 17}, 'nome': 'África central'}","{'id': {'M49': 202}, 'nome': 'África subsaaria..."
...,...,...,...,...
188,"{'M49': 860, 'ISO-ALPHA-2': 'UZ', 'ISO-ALPHA-3...",Uzbequistão,None,"{'id': {'M49': 143}, 'nome': 'Ásia central', '..."
189,"{'M49': 862, 'ISO-ALPHA-2': 'VE', 'ISO-ALPHA-3...",Venezuela (República Bolivariana da),"{'id': {'M49': 5}, 'nome': 'América do sul'}","{'id': {'M49': 419}, 'nome': 'América Latina e..."
190,"{'M49': 882, 'ISO-ALPHA-2': 'WS', 'ISO-ALPHA-3...",Samoa,None,"{'id': {'M49': 61}, 'nome': 'Polinésia', 'regi..."
191,"{'M49': 887, 'ISO-ALPHA-2': 'YE', 'ISO-ALPHA-3...",Iêmen,None,"{'id': {'M49': 145}, 'nome': 'Ásia ocidental ..."
192,"{'M49': 894, 'ISO-ALPHA-2': 'ZM', 'ISO-ALPHA-3...",Zâmbia,"{'id': {'M49': 14}, 'nome': 'África oriental (...","{'id': {'M49': 202}, 'nome': 'África subsaaria..."