# Entrega Parcial
Primeira Entrega

1. Escolher uma API da lista disponível:

    https://brasilapi.com.br/api/fipe/marcas/v1/{tipoVeiculo}

2. Fazer a extração de pelo menos 3 tabelas: 

    https://brasilapi.com.br/api/fipe/marcas/v1/carros

    https://brasilapi.com.br/api/fipe/marcas/v1/carros

    https://brasilapi.com.br/api/fipe/marcas/v1/carros

3. Criar um alerta de erro usando a função alerta()

In [2]:
#importando bibliotecas
import pandas as pd
import requests

In [3]:
#importando biblioteca de notificação e suas definições definindo
from plyer import notification 
notification.notify(
                    title='Informar o título da notificação',
                    message='Descrição da mensagem de alerta',
                    app_name='Nome do Alerta',
                    timeout=10
                    ) #Utilizado valor 10 como sugerido na atividade slide 36, aula 4 - Fundamentos de programação III

In [5]:
#Criando Alerta com notification.notify definido anteriormente
#importar datetime
from datetime import datetime

#definição do Alerta
def Alerta_default(text1):
    vNow = str(datetime.now())
    text1 = "Falha ao acessar API"
    msg_texto = f"Erro! {text1} \nOcorrência: {vNow}"

    if text1 == 1:
        text1 = "Falha ao ler API"
    else:
        print("Erro desconhecido!",text1)

    notification.notify(
            title=text1,
            message=msg_texto,
            app_name='Alerta!',
            timeout=10
                        )

In [6]:
#Utilizando consumo da API para leitura dos dados e convertido em Data Frame
#url1 = "https://brasilapi.com.br/api/fipe/marcas/v4/carros" #utilizado para testar erro e chamada do alerta
url1 = "https://brasilapi.com.br/api/fipe/marcas/v1/carros"
response = requests.get(url1)
if response.status_code == 200:
    data1_json = response.json()
else:
    #print("Erro ao acessar a API\nErro: {}".format(response.status_code))
    Alerta_default(1)

#converter dados em Data Frame
pd.DataFrame(data1_json)

           nome valor
0         Acura     1
1        Agrale     2
2    Alfa Romeo     3
3        AM Gen     4
4   Asia Motors     5
..          ...   ...
93   D2D Motors   241
94   Caoa Chery   245
95         DFSK   246
96        SERES   247
97        FEVER   249

[98 rows x 2 columns]

In [7]:
#Utilizando consumo da API para leitura dos dados e convertido em Data Frame
url2 = "https://brasilapi.com.br/api/fipe/marcas/v1/caminhoes"
response = requests.get(url2)
if response.status_code == 200:
    data2_json = response.json()
else:
    #print("Erro ao acessar a API\nErro: {}".format(response.status_code))
    Alerta_default(1)

#converter dados em Data Frame
pd.DataFrame(data2_json)

             nome valor
0          AGRALE   102
1       CHEVROLET   103
2            FIAT   104
3            FORD   105
4             GMC   106
5       MARCOPOLO   108
6   MERCEDES-BENZ   109
7        NAVISTAR   110
8          NEOBUS   111
9       PUMA-ALFA   112
10    SAAB-SCANIA   113
11         SCANIA   114
12     VOLKSWAGEN   115
13          VOLVO   116
14       CICCOBUS   121
15          IVECO   122
16        WALKBUS   144
17       SINOTRUK   166
18       EFFA-JMC   179
19        HYUNDAI   181
20            MAN   184
21            JAC   188
22          FOTON   191
23        SHACMAN   193
24        MAXIBUS   194
25     MASCARELLO   196
26            DAF   197
27        BEPOBUS   206

In [8]:
#Utilizando consumo da API para leitura dos dados e convertido em Data Frame
url3 = "https://brasilapi.com.br/api/fipe/marcas/v1/motos"
response = requests.get(url3)
if response.status_code == 200:
    data3_json = response.json()
else:
    #print("Erro ao acessar a API\nErro: {}".format(response.status_code))
    Alerta_default(1)

#converter dados em Data Frame
pd.DataFrame(data3_json)

              nome valor
0             ADLY    60
1           AGRALE    61
2          APRILIA    62
3            ATALA    63
4            BAJAJ    64
..             ...   ...
89             NIU   239
90          ZONTES   242
91           WATTS   243
92  Ventane Motors   244
93           FEVER   248

[94 rows x 2 columns]