# Lógica de Programação I

Variáveis e funções

In [13]:
#Variáveis
# Não é recomendável usar acento em nome de variável
# Não é recomendável usar nomes de palavras reservadas (funções, exemplo print)
# O programa é Case Sensitive, ou seja, a Variavel é diferente da outra variavel apenas pelo V estpa maiúsculo e minúsculo
variavel1 = 'Hello world!'
variavel2 = 'outro texto'

In [14]:
print(variavel1)
variavel1

Hello world!

'Hello world!'

In [15]:
#input = função muito utilizada para teste, recebe informação em caixa de texto, normalmente gravada em uma variável
texto = input('digite um texto: ')
texto

'texto'

In [16]:
#parâmetros de funções
#type(1.) #decimal
#type(False) #booleano
type(texto) #string, exemplo recebido pela variável utilizada com input()

str

Operadores

In [17]:
#Adição e Subtração
resultado = 1+2
resultado

#utiliando variáveis
a = 1
b = 2
c = b -a
print(c)

1

In [18]:
#multiplicação
2*3

6

In [19]:
#Divisão
#Inteiros e Resto
print('resultado: ', 5/2)
print('resto: ',5%2)

resultado:  2.5
resto:  1

In [20]:
#Divisão Exata
5/2

2.5

In [21]:
#Petenciação e Radiciação
2**3

8

In [22]:
#Potência de número decimal
4**(1/2)

2.0

In [23]:
#Potência de número decimal
4**0.5

2.0

In [24]:
#Maior e Menor
print(5>10)
print(5<=10)

False
True

In [25]:
#Igual ou Diferente
print(5==10)
print(5!=10)

False
True

String

In [ ]:
#String tudo que vem entre aspas simples ou duplas
#Textos
'texto completo'

In [ ]:
#Sinais
'texto com sinal! :]'

In [ ]:
#Números
'texto com números de 1 a 10000000000000000000000000000... infinito'

In [ ]:
#Datas
'2024'
'01/10/2024'

In [26]:
# Ctrl + ; = faz comentário em todas as linhas selecionadas
# String / Texto pode vir por aspas simples ou dupla
type("Texto")
type('Texto')

str

In [ ]:
# as própiras aspa dentro de aspas se torna uma string/texto
print('esse texto é "legal"')
print("esse texto é 'legal'")
# só não pode usar juntas as aspas simples que pode dar conflito na grafia do código
print('este texto é 'legal'')

In [27]:
#Observação (erros)
#Possível utiliar código assembler dentro da string, exemplo a "quebra de linha" com \n
print('oi \ntudo bem?')

oi
 tudo bem?

In [28]:
#Mistos
texto1 = 'oi'
texto2 = 'blz?'
print(texto1+' '+texto2) #forma de usar espaçamento entre strings
'Oi'+' '+'beleza?'

oi blz?

'Oi beleza?'

Manipulação de Strings

In [32]:
nome = input('Digite seu nome: ')
idade = input('Digite a sua idade: ')
print('Seu nome é', nome)
print('Sua idade é:', idade)

Seu nome é Gabriel
Sua idade é:  35

In [33]:
print('Seu nome é', nome, 'e tem', idade, 'anos')

Seu nome é Gabriel e tem 35 anos

In [34]:
# f = forma de apresentar String com variáveis
f'seu nome é {nome} e tem {idade} anos'

'seu nome é Gabriel e tem 35 anos'

In [35]:
# %s = string, %i = apresentar como inteiro no texto, %f  = apresentar como float no texto
'seu nome é %s e tem %s anos'% (nome, idade)

'seu nome é Gabriel e tem 35 anos'

In [38]:
#Format
'seu nome é {1} e tem {0} anos'.format(nome, idade)

'seu nome é 35 e tem Gabriel anos'

In [ ]:
texto = "misture o chocolate até a massa ficar homogênea"

In [45]:
#split
texto = 'seu nome é 34 e tem Gaabriel anos'
texto.split('34')

['seu nome é ', ' e tem Gaabriel anos']

In [46]:
#upper
texto.upper()

'SEU NOME É 34 E TEM GAABRIEL ANOS'

In [47]:
#find
texto.find('Gabriel')

-1

In [48]:
lista = ['Gabriel', 34, 79.5, True]
lista

['Gabriel', 34, 79.5, True]

In [53]:
lista[0]
lista[0] = "Augusto"
lista

['Augusto', 34, 79.5, True]

In [49]:
type(lista)

list

In [50]:
tupla = ('Gabriel', 34, 79.5, True)

In [55]:
tupla[0]
#não aceita manipulação ou ordenação
tupla[0]= 'Augusto'

TypeError: 'tuple' object does not support item assignment

In [51]:
type(tupla)

tuple

In [56]:
dicionario = {'Nome': 'Gabriel', 'Idade': '34', 'Peso': '79.5'}
dicionario

{'Nome': 'Gabriel', 'Idade': '34', 'Peso': '79.5'}

In [59]:
dicionario['Peso']
dicionario['Peso']=80.5
dicionario

{'Nome': 'Gabriel', 'Idade': '34', 'Peso': 80.5}