# Desafio Obrigatório

Desafio Nintendo

In [ ]:
#Biblioteca
import pandas as pd
%pip install openpyxl

Note: you may need to restart the kernel to use updated packages.
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---- ----------------------------------- 30.7/250.9 kB ? eta -:--:--
   ------------- -------------------------- 81.9/250.9 kB 1.5 MB/s eta 0:00:01
   ---------------------- ----------------- 143.4/250.9 kB 1.2 MB/s eta 0:00:01
   --------------------------- ------------ 174.1/250.9 kB 1.2 MB/s eta 0:00:01
   ----------------------------------- ---- 225.3/250.9 kB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 1.1 MB/s eta 0:00:00
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\refli\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

#1. Abra o arquivo "best-selling game console.xlsx" em um dataframe.

In [8]:
Console = pd.read_excel("best-selling game consoles.xlsx",
                        sheet_name="consoles"
                        )
Console.head()

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
0,PlayStation 2,Home,Sony,2000,2013,155.00,Final sales are greater than 155 million
1,Nintendo DS,Handheld,Nintendo,2004,2013,154.02,NaN
2,Nintendo Switch,Hybrid,Nintendo,2017,0,122.55,NaN
3,Game Boy,Handheld,Nintendo,1989,2003,64.42,The Game Boy (1989) and the Game Boy Color (19...
4,Game Boy Color,Handheld,Nintendo,1998,2003,44.06,NaN

#2. Substitua a palavra "NES" por "Nitendinho" no nome dos consoles e
#deixe todos os nomes maiúsculos.

In [ ]:
#Substuição nome console NES
Console['Console Name'] = Console['Console Name'].str.replace('NES', 'Nitendinho')

#Alterar os nomes de console para letras maiúsculas
Console['Console Name'] = Console['Console Name'].str.upper()

Console.head()

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
0,PLAYSTATION 2,Home,Sony,2000,2013,155.00,Final sales are greater than 155 million
1,NINTENDO DS,Handheld,Nintendo,2004,2013,154.02,NaN
2,NINTENDO SWITCH,Hybrid,Nintendo,2017,0,122.55,NaN
3,GAME BOY,Handheld,Nintendo,1989,2003,64.42,The Game Boy (1989) and the Game Boy Color (19...
4,GAME BOY COLOR,Handheld,Nintendo,1998,2003,44.06,NaN

#3. Filtre o nome dos consoles com data de release depois de 2010.

In [ ]:
#Apresentar informação com filtro e travando colunas que será apresentada
Console.loc[Console['Released Year']>2012,'Console Name']

2                      NINTENDO SWITCH
5                        PLAYSTATION 4
14                            XBOX ONE
19                       PLAYSTATION 5
23                     XBOX SERIES X/S
33    SUPER NITENDINHO CLASSIC EDITION
35          NITENDINHO CLASSIC EDITION
Name: Console Name, dtype: object

#4. De um describe da base e
#um info da base,
#substitua os missing values pela sting "missing".

In [14]:
#apresentar dados do describe
Console.describe()

       Released Year  Discontinuation Year  Units sold (million)
count      51.000000             51.000000             51.000000
mean     1996.058824           1844.803922             35.549412
std        12.378064            543.657319             42.608844
min      1976.000000              0.000000              1.000000
25%      1987.500000           1992.000000              3.200000
50%      1994.000000           1998.000000             13.560000
75%      2004.500000           2011.500000             60.205000
max      2020.000000           2020.000000            155.000000

In [15]:
#apresentar dados do info
Console.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Console Name          51 non-null     object
 1   Type                  51 non-null     object
 2   Company               51 non-null     object
 3   Released Year         51 non-null     int64
 4   Discontinuation Year  51 non-null     int64
 5   Units sold (million)  51 non-null     float64
 6   Remarks               16 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 2.9+ KB

In [ ]:
#substituindo os valores missing values pela sting "missing".
Console['Remarks'] = Console['Remarks'].fillna('missing')

#apresentar resultado
Console.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Console Name          51 non-null     object
 1   Type                  51 non-null     object
 2   Company               51 non-null     object
 3   Released Year         51 non-null     int64
 4   Discontinuation Year  51 non-null     int64
 5   Units sold (million)  51 non-null     float64
 6   Remarks               51 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 2.9+ KB

#5. Filtre os consoles que foram decontinuados a menos de 2 anos da data de release

In [19]:
#avaliar cenário proposto de ano em que foi descontinuado e ano de lançamento
Console['descontinuado'] = Console['Discontinuation Year'] - Console['Released Year']

#travar informação que atenda ao filtro de menor que 2 anos, como solicitado
Console.loc[(Console['descontinuado']<=2)&(Console['descontinuado']>0), #adicionado condição de "maior que zero" para não apresentar consoles ainda vigente.
            ['Console Name','Released Year','Discontinuation Year']]

                        Console Name  Released Year  Discontinuation Year
33  SUPER NITENDINHO CLASSIC EDITION           2017                  2018
35        NITENDINHO CLASSIC EDITION           2016                  2018
41                            N-GAGE           2003                  2005
49                           TELSTAR           1976                  1978
50                        ATARI 5200           1982                  1984